.calendar .calendar-color-6y {
    color: #ffff66;
    text-shadow: 0 0 5px #ffff66;
}
.calendar .calendar-color-8n {
    color: #886655;
}
.calendar .calendar-color-w {
    color: #ccc;
}
.calendar .calendar-color-3s {
    color: #e3b585;
}
